{% extends 'moinschwein/base.html' %} {% load static i18n %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-3">
            <div class="col">
                <div class="overview card frosted-glass content-box">
                    <p>{% trans 'Welcome to the Moinschwein app!' %}</p>
                    <p>{% blocktrans %}
                        Thanks to greeting people the northern German way,
                        we already raised {{ total_accusations }}€ for a good cause.
                    {% endblocktrans %}</p>

                    <p>{% trans 'Please login and help out!' %}</p>
                    <a class="mt-2" href="https://github.com/MaWalla/Moinschwein"><img class="github-link-image" src="{% static 'img/GitHub-Mark-120px-plus.png' %}"></a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}