{% extends 'moinschwein/base.html' %}{% load i18n static %}

{% block extra-styles %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="card frosted-glass content-box mt-3">
                    <h4 class="text-center headline">{% trans 'Edit Password' %}</h4>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.errors }}

                        {{ form.new_password1.help_text }}

                        <label for="{{ form.old_password.id_for_label }}">{% trans 'Old password' %}</label>
                        {{ form.old_password }}
                        <div class="mt-2"></div>

                        <label for="{{ form.new_password1.id_for_label }}">{% trans 'New password' %}</label>
                        {{ form.new_password1 }}
                        <div class="mt-2"></div>

                        <label for="{{ form.new_password2.id_for_label }}">{% trans 'Confirm new password' %}</label>
                        {{ form.new_password2 }}
                        <div class="mt-2"></div>

                        <div class="form-buttons">
                            <a class="btn btn-secondary" href="{% url 'profile' %}">{% trans 'Back'%}</a>
                            <button class="btn btn-primary" type="submit">{% trans 'Change' %}</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}