.accusation-button {
    background: unset;
    padding: 8px;
}

.accusation-button button {
    padding: 64px 0;
}

.statistic-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}