.login-box-container {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-box {
    width: 95vw;
    max-width: 600px;
    height: 95vh;
    min-height: 280px;
    max-height: 440px;
}

form {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-label,.form-input {
    width: 75%;
    margin-bottom: 0;
}
