p {
    margin: 0;
}

.sso {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ms-button {
    background-color: white;

    width: 160px;
    height: 48px;
}

.sso-button {
    margin-top: 5px;
    height: 24px;
}